body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: white;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  h3, h4,p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: rgb(23, 176, 53);
  }

  
  form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: #281c2d;
    border-radius: 10px;
  }
  
  label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

.back-button{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


